.DS_Store
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a
*.so
*._*

micro
service

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/build.out
/pkg/
/VERSION.cache
/swagger.yaml

# Dependency directories
vendor/
/goinstall.log
